@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
html {
    background-color: #252526;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}
.field{
    width: 400px;
    height: 400px;
    background-color: #363636;
    border-radius: 10px;
    position: relative;
    text-align: center;
    margin: 0 auto;
    

}

.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    position: absolute;
    font-size: 40px;
    transition: all .3s;
    font-family: 'Itim', Helvetica, sans-serif;
    color: #587C0C;
    border: 1px solid #587C0C ;
    background-color: #1E1E1E;
}